@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-nuevo-informe {
    display: flex;
    justify-content: center;
    
    .agregar-informe {
        @include m.boton(v.$azul, v.$blanco);
    }
}

.listado-informes {
    list-style: none;
    padding: 0;
    margin-top: 2rem;

    .no-informes {
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        font-style: italic;
    }
}
