@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard {
    background-color: v.$grisClaro;

    @include m.tablet {
        display: flex;
        height: 100vh;
    }

    .principal {
        flex: 1;
        overflow: scroll;
    }

    .contenido {
        padding: 2rem;
        .nombre-pagina {
            font-size: 3rem;
            text-align: center;
        }
    }
    .boton {
        display: inline-flex;
        justify-content: center;
        background-color: v.$rojo;
    }
    .agregar {
        display: inline-flex;
        @include m.boton(v.$azul, v.$blanco);
    }

    .divisor {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90vh;
    }
}