@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-nuevo-informe {
    display: flex;
    justify-content: center;
    
    .agregar-informe {
        @include m.boton(v.$azul, v.$blanco);
    }
}

.listado-informes {
    list-style: none;
    padding: 0;
    margin-top: 2rem;

    .no-informes {
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        font-style: italic;
    }
}
// .informe {
//     padding: 1rem 2rem;
//     border-bottom: 2px solid darken(v.$grisClaro, 20%);
//     margin-bottom: 2rem;
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     @include m.tablet {
//         gap: 2rem;
//         flex-direction: row;
//         justify-content: space-between;
//     }

//     &:last-of-type {
//         border: none;
//     }

//     p {
//         text-align: center;
//         margin: 1rem 0;
//         font-size: 1.8rem;

//         @include m.tablet {
//             text-align: left;
//             margin: 0;
//         }
//     }

//     .opciones {
//         display: flex;
//         gap: 1rem;

//         button {
//             border: none;
//             font-size: 1.3rem;
//             padding: .5rem 1rem;
//             text-transform: uppercase;
//             font-weight: 700;
//             border-radius: 1rem;

//             &:hover {
//                 cursor: pointer;
//             }
//         }
//         .completa { // clase creado con js tarea
//             background-color: v.$verde;
//             color: v.$blanco;
//         }
//         .pendiente { // clase creado con js tarea
//             background-color: v.$naranja;
//             color: v.$blanco;
//         }
//         .eliminar-informe { // clase creado con js tarea
//             background-color: v.$rojo;
//             color: v.$blanco;
//         }
//     }
// }

// // esconder botones
// .agregar-informe {
//     &.oculto {
//         display: none;
//     }
    
//     &.mostrar {
//         display: block;
//     }
// }

// .cerrar-informe {
//     display: none;
    
//     &.oculto {
//         display: none;
//     }
    
//     &.mostrar {
//         display: block;
//     }
// }

// // Esconder el formulario
// .formulario {

//     &.oculto {
//         display: none;
//     }

//     &.mostrar {
//         display: block;
//     }

//     .opciones {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         gap: 2rem;
//     }
// }

