@use 'base/variables' as v;
@use 'base/mixins' as m;

// Javascript
.modal {
    position: absolute;
    background-color: rgba(0 0 0 / .4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .formulario {
        max-width: 100rem;
        background-color: v.$blanco;
        border-radius: .5rem;
        padding: 2rem;
        margin: 0 2rem;
        transform: translateY(-30rem);
        transition-property: all;
        transition-duration: 1000ms;
        opacity: 0;
        @include m.tablet {
            margin: 0 auto;
        }

        legend {
            font-size: 3rem;
            text-align: center;
            font-weight: bold;
            margin-bottom: 3rem;
            display: block;
        }
        input[type="text"] {
            border: 1px solid v.$gris;
        }
        .opciones {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @include m.tablet {
                flex-direction: row;
                gap: 2rem;
                justify-content: center;
            }
        }
        .submit-nuevo-informe,
        .submit-nuevo-servicio {
            @include m.boton(v.$azul, v.$blanco);
        }
        .cerrar-informe,
        .cerrar-servicio {
            @include m.boton(v.$rojo, v.$blanco);
        }

        &.animar {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            opacity: 1;
        }

        &.cerrar {
            transform: translateY(-200%);
            opacity: 0;
        }
    }
}
.swal2-show {
    font-size: 1.6rem;
}