@use 'base/variables' as v;

.tabla {
    margin-top: 2rem;
    table {
        text-align: center;
        thead {
            background-color: v.$rojo;
            color: v.$blanco;
            tr {
                th {
                    padding: .5rem 1rem;
                }
            }
        }
        tbody {
            background-color: lighten(v.$gris, 40%);
            .datos:nth-child(even) {
                background-color: darken(v.$grisClaro, 15%);
            }
            tr {
                td {
                    padding: .5rem 1rem;
                }
            }
        }
    }
}